
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_label{
  font-size: 18px;
  font-weight: bold;
}

.modal form {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.modal input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
  border: 1px solid gray;
  border-radius:12px ;
}

.edit_button {
  margin-top: 5px;
  width: 60px;
  height: 30px;
  border-radius: 13px;
  background-color: rgb(72, 144, 252);
  color: white;
  font-size: 17px;
}

.modal_button1, .modal_button2{
  border-radius: 13px;
  height: 32px;
  width: 60px;
  padding: 3px;
  color: white;
  background-color: rgb(72, 144, 252);
}

.modal_button2{
  margin-left: 20px;
}

.modal_button1:hover ,.edit_button:hover {
  background-color: rgb(43, 101, 194);
}

.modal_button2:hover {
  background-color: rgb(43, 101, 194);
}

.file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: 5px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 12px;
}

.input_image {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.upload_title{
  display: flex;
  gap: 10px;
}

.image_upload__title{
  margin-top: 6px;
}

.modal_buttons{
  display: flex;
  justify-content: space-around;
}

.profile_user{
  max-height: 300px;
}

@media (height < 900px) {
  .block-list{
    display: none;

  }
  .profile_user{
    max-height: none;
  }
}

@media (width <= 1448px) {
  .main_profile{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

  }

  .Blocks{
    display: none;
  }

  .achivments_person{
    width: 100%;
  }

  .right_bar{
    height: 100%;
  }

  .profile_user{
    height: 100%;
  }
}
@media(width <=500px ){
  .profile_settings{
    display: none;
  }
  .profile_data{
    height: 100%;
  }
}
@media(height <=860px )and(width <=1448px ){
  .profile_settings{
    display: none;
  }
  .profile_data{
    height: 100%;
  }
}

@media (height <=1080px) and (width <= 1537px) {
  .Blocks{
    display: none;
  }
.Slaider{
  display: flex;
}

}

@media (height >=1080px) and (width >= 1537px) {
  .Blocks{
    display: flex;
  }
  .Slaider{
    display: none;
  }

}