.main_blocks{
  padding: 40px 60px 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.image_Card{
  width:30px;
  height: 28px;
}

.leader_card_image{
  border-radius: 54px;
  height: 90px;
  width: 90px;
  margin: 8px;
  object-fit: cover; 
  display: block; 
}

.task_card{
  display: flex;
  flex-direction: column;
  padding: 20px 30px 5px 30px;
  gap: 17px;
}

.task_card{
  width: 100%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.091);
}

.card__description{
  display: flex;
  justify-content: space-between;
}

.deadline{
  display: flex;
  gap: 12px;
}

.files__count{
  display: flex;
  gap: 12px;
}

.tasks__count{
  display: flex;
  gap: 12px;
}

.members__count{
  display: flex;
  gap: 12px;
}

.card__label{
  margin-top: 6px;
  font-size: 13px;
}

.add_tasks{
  width: 100%;
  display: flex;
  justify-content: right;
}

.add_button_tasks{
  background-color: rgb(72, 144, 252);
  border-radius: 15px;
  height: 30px;
  width: 30px;
  color: white;
  cursor: pointer;
}

.add_button_tasks:hover{
  background-color: rgb(58, 135, 250);
}

.button_tasks{
  display: flex;
  justify-content: space-between;
}

.close_button, .submit_task__button{
  background-color: rgb(72, 144, 252);
  border-radius: 15px;
  height: 30px;
  width: 110px;
  color: white;
  margin-top: 10px;
}

.upload_title_tasks{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number_tasks{
  display: flex;
  flex-direction: column;
}

.close_button:hover, .submit_task__button:hover{
  background-color: rgb(58, 135, 250);
}

@media (width <=683px){
  .card__description{
    flex-direction: column;
    gap: 20px;
  }

  .task_card{
    height: auto;
  }
}