.main_window{
  height: 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.alert_window{
  width: 35%;
  height: 100%;
  background-color: rgba(221, 221, 221, 0.151);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.091);
  padding: 0px 5px 0px 5px;
}

.header_schedule{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 10%;
}

.today{
  margin-top: 6px;
  font-weight: bold;
}

.add_section{
  border-radius: 50%;
  background-color: rgb(72, 144, 252);
  color: white;
  width: 35px;
  height: 35px;
  font-size: 23px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.schedule{
  width: 65%;
  height: 100%;
}

.deadline_image{
  width: 30px;
  height: 27px;
}

.button_schedule{
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(72, 144, 252);
  margin-left: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.button_schedule:hover{
  background-color: rgb(58, 135, 250);
}

.event_card{
  height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 20px 20px 20px 15px;
  background-color: white;
  border-left: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.091);
  margin-bottom: 10px;
}

.alert_title{
  font-size: 19px;
}

.main_alert{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deadline{
  display: flex;
  flex-direction: row;
}

table {
  clear: both;
  width: 100%;
  border-radius: 20px;
  border-collapse: collapse;
  color: #444;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.091);

}

td {
  height: 70px;
  text-align: center;
  vertical-align: middle;
  width: 14.28571429%;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.051);
  border-radius: 20px;
}

thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: 1.5em;
}

td.today {
  font-weight: 700;
  color: #28283b;
  font-size: 1.5em;
}

td:hover{
  font-weight: bold;
  font-size: 22px;
  color: rgb(72, 144, 252);
} 


@media (width <=1208px) {
  .event_card{
    height: 150px;
  }
}

@media (width <= 664px) {
  .main_window{
    display: flex;
    flex-direction: column;
  }
  
  .alert_window{
    width: 100%;
    display: block;
  }

  .schedule{
    width: 100%;
  }

  .header_schedule{
    margin-bottom: 20px;
  }
}