@media (width <= 1063px) {
  .LeftBar {
    display: none;
  }
  .Dropdown{
    display: block;
  }

}
@media (width <= 760px){
  .Info{
    display: none;
  }
}

body{
  font-family: Poppins, sans-serif;
}