@media (width <= 1063px) {
  .LeftBar {
    display: none;
  }
  .Dropdown{
    display: block;
  }

}
@media (width <= 760px){
  .Info{
    display: none;
  }
}

body{
  font-family: Poppins, sans-serif;
}

.Window {
  max-width: 1640px;
  height: 100vh;
  margin: 0 auto; /* Центрирует элемент */
  display: flex; /* Включаем flexbox для выравнивания */
  flex-direction: column; /* Вертикальное направление */
}
